@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

:root {
  --font-family: "Noto Sans JP", sans-serif;
  --bg-color: #393646;
  --primary-color: #f4eee0;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: var(--font-family);
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
  margin-top: 20px;
}

.mensagem {
  font-size: 1.5em;
  margin-top: 40px;
}

.box {
  border: 2px solid var(--primary-color);
  display: inline-block;
  font-size: 4em;
  padding: 10px;
  margin: 20px;
}

.btn-jogar {
  padding: 8px 15px;
  border: 0;
  background: var(--primary-color);
  border-radius: 5px;
  margin-top: 20px;
  font-size: 1em;
  font-weight: bolder;
  color: #393646;
}

.btn-jogar:hover {
  color: var(--primary-color);
  background: #4f4557;
  transition: 0.3s;
  border: 1px solid var(--bg-color);
}

.game-over-bg {
  background-color: black;
}

.game-over {
  color: red;
  font-weight: 900;
}

.desisto {
  margin-top: 40px;
}
